.menu--wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: var(--spacer-sm);
  margin: var(--spacer-sm) auto;
}

.menu--item {
  border: 3px solid var(--color-blue);
  border-radius: 20px;
}

.menu--item-top {
  position: relative;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu--item-title-wrapper,
.menu--item-bottom {
  padding: 1em;
}

/* .menu--item-title {
  font-size: 2rem;
} */

.menu--item-img {
  width: 80px;
  transform: rotate(45deg);
}

.menu--item-img:hover {
  transform: rotate(42deg);
  transition: var(--transition);
}

.menu--item-details {
  margin-bottom: 1em;
}

.menu--item-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.25em;
}

.menu--item-basket button {
  flex-basis: 150px;
}

#card--order-btn-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  padding: 10px;
}

#card--order-btn:active {
  box-shadow: none;
  transform: translateY(-2px);
  transform: translateX(2px);
  border: 2px solid var(--color-blue);
}


  /* ========== MEDIA QUERIES (MEDIUM DEVICES) ========= */

  @media screen and (min-width: 768px) {
    .menu--wrapper {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, auto);
      margin: var(--spacer-md) auto;
    }

    .menu--container > h2 {
      font-size: 4.5rem;
    }

    /* .menu--item-title {
      font-size: 2.5rem;
    } */

  }

/* ========== MEDIA QUERIES (LARGE DEVICES) ========= */

@media screen and (min-width: 1024px) {

}

/* ========== MEDIA QUERIES (LARGE DEVICES) ========= */

@media screen and (min-width: 1200px) {

  .menu--wrapper {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
  }

}
