.menu--container-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-gap: var(--spacer-sm);
  margin-top: var(--spacer-sm);
}

.menu--item {
  border: 3px solid var(--color-blue);
  border-radius: 20px;
}

.menu--item-top {
  position: relative;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu--item-title-wrapper,
.menu--item-bottom {
  padding: 1em;
}

.menu--item-img {
  width: 50px;
  transform: rotate(45deg);
  transition: var(--transition);
}

.menu--item-img:hover {
  transform: rotate(42deg);
}

.menu--item-bottom-inner {
  display: flex;
  flex-direction: column;
}

.menu--item-details {
  margin-top: 1rem;
}

.menu--item-details-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2;
  letter-spacing: 3.25px;
  max-height: 6em;
  transition: max-height 0.3s ease-in-out;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.menu--item-details-text.expanded {
  max-height: none;
  -webkit-line-clamp: initial;
}

.btn-bold {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-blue);
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  border: none;
  font-size: 1rem;
  transition-duration: 0.3s;
  width: 100%;
}

.btn-bold:hover {
  color: var(--color-blue-secondary);
  cursor: pointer;
}

#menu--item-btn-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  padding: 10px;
  width: 100%;
}

#menu--item-btn:active {
  box-shadow: none;
  transform: translateY(-2px) translateX(2px);
  border: 2px solid var(--color-blue);
}

.menu--btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacer-sm) 0;
}

@media screen and (min-width: 768px) {
  .menu--container-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .menu--container-title {
    font-size: 4.5rem;
  }

  .menu--item-top {
    padding-top: 1rem;
  }

  .menu--item-img {
    width: 80px;
  }

  .menu--btn-wrapper {
    margin: var(--spacer-sm) 0 var(--spacer-md);
  }
}

@media screen and (min-width: 1200px) {
  .menu--container-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
