.hero--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacer-sm) auto;
    max-width: 290px;
  }

  .hero--title {
    font-size: 3.5rem;
    text-align: center;
  }

  .hero--svg-wrapper {
    display: flex;
    justify-content: center;
    margin-top: var(--spacer-sm);
  }

  .hero--svg {
    max-width: 100%;
  }

  /* ========== MEDIA QUERIES (MEDIUM DEVICES) ========= */

@media screen and (min-width: 768px) {
  .hero--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacer-md) auto;
    max-width: 375px;
  }

  .hero--title {
    font-size: 4.5rem;
  }

  .hero--svg-wrapper {
    margin-top: var(--spacer-md);
  }
}

/* ========== MEDIA QUERIES (LARGE DEVICES) ========= */

@media screen and (min-width: 1024px) {

  .hero--container {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }

  .hero--title {
    font-size: 5.5rem;
    max-width: 450px;
    text-align: left;
  }

  .hero--svg-wrapper {
    justify-content: right;
    margin-top: 0;
  }

  .hero--svg {
    max-width: 95%;
  }

}

@media screen and (min-width: 1200px) {

  .hero--title {
    font-size: 6.5rem;
    max-width: 500px;
  }

  .hero--svg-wrapper {
    justify-content: right;
    /* width: 100%; */
    margin-top: 0;
  }

}
