.about--wrapper {
  margin: var(--spacer-sm);
}

.about--container {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-sm);
  align-items: center;
}

.about--container-bottom {
  margin-top: var(--spacer-sm);
}

.about--img-top,
.about--img-bottom {
  width: 100%;
  border-radius: 0;
}

.about--img-bottom {
  order: 1;
}

.about--container-text {
  margin-top: var(--spacer-sm);
}

  /* ========== MEDIA QUERIES (MEDIUM DEVICES) ========= */

  @media screen and (min-width: 768px) {

    .about--wrapper {
      margin: var(--spacer-md);
    }

  }

/* ========== MEDIA QUERIES (LARGE DEVICES) ========= */

@media screen and (min-width: 1200px) {

  .about--wrapper {
    margin: var(--spacer-lg) 0;
  }

  .about--container {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-lg);
    align-items: center;
    margin: var(--spacer-lg) 0;
  }

  .about--container-text {
    font-size: 1.5rem;
  }

  .about--container-top {
    margin-left: 12.5%;
  }

  .about--container-bottom {
    margin-right: 12.5%;
    margin-top: 0;
  }

  .about--img-top {
    width: 40%;
    border-radius: 220px 0 0% 220px;
  }

  .about--img-bottom {
    width: 40%;
    border-radius: 0% 220px 220px 0%;
    order: 0;
  }

}
