

.footer--wrapper {
  background-color: var(--color-blue);
}

.footer--container {
  padding: var(--spacer-sm);
  text-align: center;
}

.footer--container a {
  color: var(--color-white);
}

.footer--container a:hover {
  color: var(--color-petnat);
}

.footer--logo {
  display: block;
}

.footer--social {
  margin-top: var(--spacer-sm);
}

.footer--social a:not(:last-child) {
  margin-right: 1em;
}

.footer--social-icon {
  font-size: 1.5rem;
}

.footer--links  {
  flex-direction: column;
  display: flex;
  align-items: center;
  line-height: 2.25 ;
}

.footer--links.col1 {
  margin-top: var(--spacer-sm);
}

.footer--cta {
  margin-top: var(--spacer-sm);
  /* color: var(--color-light); */
}

.footer--copyright {
  margin-top: var(--spacer-sm);
  color: var(--color-light);
}

@media screen and (min-width: 1024px ) {


  .footer--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "footer--logo links1 links2 cta"
        "footer--social links1 links2 copyright";
    place-items: center;
    font-size: 18px;
    padding: var(--spacer-lg) 0;
  }

  .footer--logo {
    grid-area: footer--logo;
  }

  .footer--social {
    grid-area: footer--social;
    margin-top: 0;
  }

  .footer--links {
    align-items: start;
  }

  .footer--links.col1 {
    grid-area: links1;
    margin-top: 0;
  }

  .footer--links.col2 {
    grid-area: links2;
  }

  .footer--cta {
    grid-area: cta;
    margin-top: 1rem;
  }

  .footer--copyright {
    grid-area: copyright;
    margin-top: 0;
  }

}
