.nav--container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--container a {
  font-size: 1.75rem;
  line-height: 42px;
}

.nav--logo {
  width: 150px;
  height: auto;
}

.nav--menu {
  display: none;
}

.nav--menu.active {
  position: absolute;
  margin-top: var(--spacer-md);
  top: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  width: 100%;
  height: 60vh;
  border: 2px solid var(--color-blue);
  border-radius: 8px;
  box-shadow: -6px 6px 0 var(--color-blue);
}

.nav--list {
  gap: var(--spacer-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  list-style: none;
}

.nav--item:hover:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 3px solid var(--color-blue);
  -webkit-animation-name: grow_border;
  -webkit-animation-duration: 200ms;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: grow_border;
  -moz-animation-duration: 200ms;
  -moz-animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  border-radius: 10rem;
}


@keyframes grow_border {
  0% {
    width: 0;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 40px;
  }
}

.nav--basket {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.nav--toggle {
  display: block;
  background: none;
  border: none;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========= */

@media screen and (min-width: 768px) {

  .nav--menu {
    display: flex;
    align-items: center;
  }

  .nav--list {
    display: flex;
    flex-direction: row;
    gap: 4.5em;
    list-style: none;
  }

  .nav--toggle {
    display: none;
  }
}
